--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
opencv-python-headless  # Smaller alternative to opencv-python
ultralytics  # Consider running locally instead of in Heroku
Flask==3.1.0
Flask-Cors==5.0.0
gunicorn==23.0.0
typing_extensions==4.12.2
 
